__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
*.env
.env.*
venv/
env/
*.sqlite3
*.db

alembic/versions/*.pyc
alembic/versions/*.pyo
alembic/versions/__pycache__/

.idea
.DS_Store
Thumbs.db

*.tar
*.bak
*.pid
*.sock

*.iml
